h4 {
  margin-top: 25px;
}
.row {
  margin: auto;
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  /* background-color: #eee; */
  /* border: 1px solid #ddd; */
  /* background-color: rgba(86,61,124,.15); */
  /* border: 1px solid rgba(86,61,124,.2); */
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
p.lead {
  margin-bottom: 5px;
  font-size: 16px;
}

.main{
  padding: 12px;
}

.anchorjs-link {
  color: #aaa;
  border: 0;
}
.anchorjs-link:hover {
  color: #ff5231;
  border: 0;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

hr.fancy{
  border-top: 4px solid #eee;
  border-bottom: none;
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top:10px;
}

.label{
    border-radius: 4px;
    margin-left: 0;
    user-select: none;
    display: inline-block;
    margin-top:0.26em;
    padding-top: 0.16em;
    padding-right: 0.56em;
    padding-bottom: 0.16em;
    padding-left: 0.56em;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
}

.label-blue{
  background-color: #37beae;
}

.label-green{
  background-color: #2374ab;
}

.label-red{
  background-color: #d24689;
}

.label-purple{
  background-color: #231651;
}

.label-pink{
  background-color: #ff8484;
}

.collapsible {
  padding: 0;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  background-color: transparent;
}

.active, .collapsible:hover {
  background-color: transparent;
}

.content {
  padding: 0 10px;
  padding-top: 5px;
  display: none;
  overflow: hidden;
}

.label{
    border-radius: 4px;
    margin-left: 0;
    user-select: none;
    display: inline-block;
    margin-top:0.26em;
    padding-top: 0.16em;
    padding-right: 0.56em;
    padding-bottom: 0.16em;
    padding-left: 0.56em;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
}

.label-blue{
  background-color: #ff8484;
}

.label-green{
  background-color: #37beae;
}

.label-red{
  background-color: #d24689;
}

.label-purple{
  background-color: #231651;
}

.label-pink{
  background-color: #2374ab;
}
